@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");

@font-face {
    font-family: 'Cafe24Simplehae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: "Roboto", "Cafe24Simplehae", sans-serif;
    font-size:1.1rem;
    color:#333;
    line-height:1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border:0;
    background:none;
    font-size:inherit;
    font-family: inherit;
    vertical-align: middle;
    cursor: pointer;
}

img {
    max-width: 100%;
    vertical-align: top;
}

ul,
li,
ol {
    list-style: none;
}
